html {
    box-sizing: border-box;
}


h2 {
    font-family: 'Georgia', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: black;
    display: block;
}

.wrapper {
    background-color: #d4d9d7;
    max-width: 80rem;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.slider__items {
    width: 400%;
    display: flex;
    transition: all .9s;
}

.slider input {
    display: none;
}

.slider__items img {
    width: 100%;
}

.slider__items .item {
    line-height: 0;
}

.navigation label {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    margin: 0 5px;
    align-self: end;
}

.navigation label:active {
    background-color: red;
}

#slide1:checked ~ .slider__items {
    margin-left: 0;
}

#slide2:checked ~ .slider__items {
    margin-left: -100%;
}

#slide3:checked ~ .slider__items {
    margin-left: -200%;
}

#slide4:checked ~ .slider__items {
    margin-left: -300%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

.titles {
    display: inline-flex;

}

.title {
    opacity: 1;
    display: none;
}

@keyframes shadow {
    from {opacity: 0}
    50% {text-shadow: 0}
    to {text-shadow: 1}
}

#slide1:checked ~ .container > .titles > .title_1 {
    display: block;
    animation: shadow 2s;
}

#slide2:checked ~ .container > .titles > .title_2 {
    display: block;
    animation: shadow 2s;
}

#slide3:checked ~ .container > .titles > .title_3 {
    display: block;
    animation: shadow 2s;
}

#slide4:checked ~ .container > .titles > .title_4 {
    display: block;
    animation: shadow 2s;
}